@model ProductDto
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="product-detail">
    <div class="row">
        <div class="col-lg-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @for (int i = 0; i < Model.ProductImages.Count(); i++)
                    {
                        if (i == 0)
                        {
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="Slide @(i+1)">
                            </button>
                        }
                        else
                        {
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @(i+1)"></button>
                        }
                    }
                </div>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.ProductImages.Count(); i++)
                    {
                        if (i == 0)
                        {
                            <div class="carousel-item active product-detail__img">
                                <img src="@Url.Content(Model.ProductImages[i].ImageLink)" class="d-block w-100 h-100" alt="@Model.ProductImages[i].ProductImageID">
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item product-detail__img">
                                <img src="@Url.Content(Model.ProductImages[i].ImageLink)" class="d-block w-100 h-100" alt="@Model.ProductImages[i].ProductImageID">
                            </div>
                        }
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon carousel-control-icon--blue" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon carousel-control-icon--blue" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="product-detail__text">
                <h2 class="product-detail__title">@Model.ProdName</h2>
                <div class="product-detail__ranking">
                    <a>212 rates (4.5 <i class="bi bi-star" style="color: red"></i>)</a>
                </div>
                <div class="product-detail__category">
                    <span>Category: <b>@Model.ProductCategory.CategoryName</b></span>
                </div>
                <div class="product-detail__price">
                    <span>@Model.Price VND</span>
                </div>
                <div class="product-detail__quantity">
                    <input type="number" class="text-center" value="1">
                </div>
                <div class="product-detail__btn">
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    <a href="#" class="btn btn-danger">Shop now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="product-detail__desc">
                <h2>Description</h2>
                <div>@Html.Raw(@Model.Description)</div>
            </div>
        </div>
    </div>
</div>
